extends layout

block content

	header.top
		.wrapper
			.logo
				h1: a(href='/', title='Blog / Home - Purpose Industries') Purpose&nbsp
					span Industries
			
			nav.social-section
				ul 
					li: a(href='#', title='RSS Feed') RSS
					li: a(href='#', title='Follow us on Twitter') Twitter
					li: a(href='#', title='Become a fan on Facebook') Facebook


	.main
		.wrapper
			.article-list
				article.snippet
					header.entry
						h2: a(href='/', title='The User Engagement Death Spiral') The User Engagement Death Spiral
						p.meta Published on 
							time(datetime='2013-11-03T12:01') November 3, 2013&nbsp
							| by&nbsp
							span.author Oroszi Robert&nbsp
							span.category in Javascript
						p.excerpt In clear skies they would never misjudge a bank as the tilting of the earth, but with their view restricted to the abstractions of the instrument panel they sometimes do just that: when the airplane banks, they perceive the motion as a movement of the artificial horizon line across the face of the instrument. … Reacting instinctively to the indication of motion, they sometimes try to raise the line as if it were a wing.  

				article.snippet
					header.entry
						h2: a(href='/', title='The User Engagement Death Spiral') The User Engagement Death Spiral
						p.meta Published on 
							time(datetime='2013-11-03T12:01') November 3, 2013&nbsp
							| by&nbsp
							span.author Oroszi Robert&nbsp
							span.category in Javascript
						p.excerpt In clear skies they would never misjudge a bank as the tilting of the earth, but with their view restricted to the abstractions of the instrument panel they sometimes do just that: when the airplane banks, they perceive the motion as a movement of the artificial horizon line across the face of the instrument. … Reacting instinctively to the indication of motion, they sometimes try to raise the line as if it were a wing.  

				article.snippet
					header.entry
						h2: a(href='/', title='The User Engagement Death Spiral') The User Engagement Death Spiral
						p.meta Published on 
							time(datetime='2013-11-03T12:01') November 3, 2013&nbsp
							| by&nbsp
							span.author Oroszi Robert&nbsp
							span.category in Javascript
						p.excerpt In clear skies they would never misjudge a bank as the tilting of the earth, but with their view restricted to the abstractions of the instrument panel they sometimes do just that: when the airplane banks, they perceive the motion as a movement of the artificial horizon line across the face of the instrument. … Reacting instinctively to the indication of motion, they sometimes try to raise the line as if it were a wing.  

				article.snippet
					header.entry
						h2: a(href='/', title='The User Engagement Death Spiral') The User Engagement Death Spiral
						p.meta Published on 
							time(datetime='2013-11-03T12:01') November 3, 2013&nbsp
							| by&nbsp
							span.author Oroszi Robert&nbsp
							span.category in Javascript
						p.excerpt In clear skies they would never misjudge a bank as the tilting of the earth, but with their view restricted to the abstractions of the instrument panel they sometimes do just that: when the airplane banks, they perceive the motion as a movement of the artificial horizon line across the face of the instrument. … Reacting instinctively to the indication of motion, they sometimes try to raise the line as if it were a wing.  							

			.pagination
				a.prev(href='#', title='Previous Articles') Previous Articles
				a.next(href='#', title='Next Articles') Next Articles


	footer
		.wrapper
			.cy-info
				h3 About
				h1 Purpose Industries
				p What makes an icon a valuable addition to the interface, rather than a mere decorative element? Intuitiveness, aesthetic value, memorability, intercultural perception? While an effective icon would combine many of ...

			.authors
				.author-snippet
					.profile-image
						h4.name Tamas LOCHER
						small Master of the Universe
						p.bio In the web community, it often seems like client work is what people do when they need money to fund the projects they really care about. I might be considered ...

				.author-snippet
					.profile-image
						h4.name Tamas LOCHER
						small Master of the Universe
						p.bio In the web community, it often seems like client work is what people do when they need money to fund the projects they really care about. I might be considered ...

				.author-snippet
					.profile-image
						h4.name Tamas LOCHER
						small Master of the Universe
						p.bio In the web community, it often seems like client work is what people do when they need money to fund the projects they really care about. I might be considered ...

				.author-snippet
					.profile-image
						h4.name Tamas LOCHER
						small Master of the Universe
						p.bio In the web community, it often seems like client work is what people do when they need money to fund the projects they really care about. I might be considered ...

			.copyright
				p (c) 2013 Purpose Industries. All rights reserved. Silicon Valley, CA		
