@font-face 
        font-family: 'EnzoOTLight'
        src: url('../fonts/enzoot-light.eot')
        src: url('../fonts/enzoot-light.eot') format('embedded-opentype'),
                 url('../fonts/enzoot-light.woff') format('woff'),
                 url('../fonts/enzoot-light.ttf') format('truetype'),
                 url('../fonts/enzoot-light.svg#EnzoOTLight') format('svg')

@font-face 
        font-family: 'EnzoOTBold'
        src: url('../fonts/enzoot-bold.eot')
        src: url('../fonts/enzoot-bold.eot') format('embedded-opentype'),
                 url('../fonts/enzoot-bold.woff') format('woff'),
                 url('../fonts/enzoot-bold.ttf') format('truetype'),
                 url('../fonts/enzoot-bold.svg#EnzoOTBold') format('svg')

@font-face 
        font-family: 'EnzoOTMedi'
        src: url('../fonts/enzoot-medi.eot')
        src: url('../fonts/enzoot-medi.eot') format('embedded-opentype'),
                 url('../fonts/enzoot-medi.woff') format('woff'),
                 url('../fonts/enzoot-medi.ttf') format('truetype'),
                 url('../fonts/enzoot-medi.svg#EnzoOTMedi') format('svg')



