@font-face 
    font-family 'wlp-icons'
    src url('../fonts/wlp-icons.eot') 
    src url('../fonts/wlp-icons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/wlp-icons.woff') format('woff'),
        url('../fonts/wlp-icons.ttf') format('truetype'),
        url('../fonts/wlp-icons.svg#wlp-icons') format('svg')
    font-weight: normal
    font-style: normal

@font-face 
        font-family: 'EnzoOTLight'
        src: url('../fonts/enzoot-light.eot')
        src: url('../fonts/enzoot-light.eot') format('embedded-opentype'),
                 url('../fonts/enzoot-light.woff') format('woff'),
                 url('../fonts/enzoot-light.ttf') format('truetype'),
                 url('../fonts/enzoot-light.svg#EnzoOTLight') format('svg')


@font-face 
        font-family: 'EnzoOTBold'
        src: url('../fonts/enzoot-bold.eot')
        src: url('../fonts/enzoot-bold.eot') format('embedded-opentype'),
                 url('../fonts/enzoot-bold.woff') format('woff'),
                 url('../fonts/enzoot-bold.ttf') format('truetype'),
                 url('../fonts/enzoot-bold.svg#EnzoOTBold') format('svg')







