---
layout: layout
---
header.top
  .wrapper
    .logo
      h1: a(href='/', title='Blog / Home - Purpose Industries') Purpose&nbsp
        span Industries
    
    nav.social-section
      ul 
        li: a(href='#', title='RSS Feed') RSS
        li: a(href='#', title='Follow us on Twitter') Twitter
        li: a(href='#', title='Become a fan on Facebook') Facebook


.main
  .wrapper
    .article-list
      article.snippet
        header.entry
          h2.title: a(href='/', title='The User Engagement Death Spiral') The User Engagement Death Spiral
          p.meta Published on 
            time(datetime='2013-11-03T12:01') November 3, 2013&nbsp
            | by&nbsp
            span.author Oroszi Robert&nbsp
            span.category in Javascript
          p.excerpt In clear skies they would never misjudge a bank as the tilting of the earth, but with their view restricted to the abstractions of the instrument panel they sometimes do just that: when the airplane banks, they perceive the motion as a movement of the artificial horizon line across the face of the instrument. … Reacting instinctively to the indication of motion, they sometimes try to raise the line as if it were a wing.  

      article.snippet
        header.entry
          h2.title: a(href='/', title='The User Engagement Death Spiral') The User Engagement Death Spiral
          p.meta Published on 
            time(datetime='2013-11-03T12:01') November 3, 2013&nbsp
            | by&nbsp
            span.author Oroszi Robert&nbsp
            span.category in Javascript
          p.excerpt In clear skies they would never misjudge a bank as the tilting of the earth, but with their view restricted to the abstractions of the instrument panel they sometimes do just that: when the airplane banks, they perceive the motion as a movement of the artificial horizon line across the face of the instrument. … Reacting instinctively to the indication of motion, they sometimes try to raise the line as if it were a wing.  

      article.snippet
        header.entry
          h2.title: a(href='/', title='The User Engagement Death Spiral') The User Engagement Death Spiral
          p.meta Published on 
            time(datetime='2013-11-03T12:01') November 3, 2013&nbsp
            | by&nbsp
            span.author Oroszi Robert&nbsp
            span.category in Javascript
          p.excerpt In clear skies they would never misjudge a bank as the tilting of the earth, but with their view restricted to the abstractions of the instrument panel they sometimes do just that: when the airplane banks, they perceive the motion as a movement of the artificial horizon line across the face of the instrument. … Reacting instinctively to the indication of motion, they sometimes try to raise the line as if it were a wing.  

      article.snippet
        header.entry
          h2.title: a(href='/', title='The User Engagement Death Spiral') The User Engagement Death Spiral
          p.meta Published on 
            time(datetime='2013-11-03T12:01') November 3, 2013&nbsp
            | by&nbsp
            span.author Oroszi Robert&nbsp
            span.category in Javascript
          p.excerpt In clear skies they would never misjudge a bank as the tilting of the earth, but with their view restricted to the abstractions of the instrument panel they sometimes do just that: when the airplane banks, they perceive the motion as a movement of the artificial horizon line across the face of the instrument. … Reacting instinctively to the indication of motion, they sometimes try to raise the line as if it were a wing.  							

    .pagination
      a.prev(href='#', title='Previous Articles') Previous Articles
      a.next(href='#', title='Next Articles') Next Articles


footer
  .wrapper
    .cy-info
      h3 About us
      h1 Purpose 
        span Industries
      p We are a team of 4. United to build products with the aim to enrich people’s lives. Our backgrounds are diverse and complementary. We embrace constant change as a fundamental rule of nature and adapt to it with continuous learning and iterations. By doing so can we achieve higher levels of mastery within our chosen crafts. To us magic unfolds when human mastery meets human collaboration.
      p So this is the principle. And where do we stand today? At step #0.1. We are building our first product and set the fundaments. There is a lot to learn and to iterate. Trying to consciously enjoy the journey.


    .authors
      .author-snippet
        .profile-image.tl
        h4.name Tamas Locher
        small Job description
        p.bio Pushing the limits of impossible. Equanimity connected with awareness is my primary and desired state of mind. Surrounding myself with people I love. Practicing the mastery of leadership. A humble beginner in everything.

      .author-snippet
        .profile-image.ro
        h4.name Robert Oroszi (aka “Done in 10 minutes.”)
        small Developer
        p.bio Building products has been my obsession ever since. I settled with Javascript as my primary medium to build products people love! To me impossible is not an option but an erroneous belief. Take that!

      .author-snippet
        .profile-image.bd
        h4.name Bence Danyi
        small Developer
        p.bio Clean code is my obsession. Constantly searching for the perfect coding environment and flow. Recently deep diving into testing.

      .author-snippet
        .profile-image.ts
        h4.name Tamas Sari
        small Designer
        p.bio I first met with an alien in 1999. It was on a beautiful summer night in my bedroom. After this everything changed. I fell in love with the blank canvas. Now I'm working on the Fukushima Cleansing Program with the Great White Brotherhood.

    .copyright
      p (c) 2014 Purpose Industries. All rights reserved. Budapest, Hungary	